@model DancingGoat.InlineEditors.SpinnerEditorViewModel

@using (Html.Kentico().BeginInlineEditor("spinner-editor", Model.PropertyName, new { @class = "spinner-editor" }))
{
    <div class="inline-editor-btn-group">
        <ul class="inline-editor-btn-group-actions">
            <li><button id="minus-btn" type="button" title="@HtmlLocalizer["Decrease number of displayed items."]"><b>-</b></button></li>
            <li><button id="value-btn" type="button" disabled><b id="value-placeholder">@Model.Count</b></button></li>
            <li><button id="plus-btn" type="button" title="@HtmlLocalizer["Increase number of displayed items."]"><b>+</b></button></li>
        </ul>
    </div>
}