@using DancingGoat.Models

@model IEnumerable<NavigationItemViewModel>

<ul class="nav-menu">
    @foreach (var navigationItem in Model)
    {
        <li>
            <a href="@navigationItem.RelativePath">@HtmlLocalizer[navigationItem.Caption]</a>
        </li>
    }
</ul>