@using CMS.Commerce
@using DancingGoat.Commerce
@using DancingGoat.Models

@model CheckoutViewModel

<div class="cart-total">
    <div class="cart-item-viewer">
        <div class="label">
            <span>@HtmlLocalizer["Shipping"]</span>
        </div>
        <div class="value">
            <price>@Model.PaymentShipping.ShippingPrice</price>
        </div>
    </div>
    <hr />
    <div class="cart-total-viewer">
        <div class="label">
            <span>@HtmlLocalizer["Total price"]</span>
        </div>
        <div class="value">
            <price>@Model.ShoppingCart.TotalPrice</price>
        </div>
    </div>
</div>
