<?xml version="1.0" encoding="utf-8"?>
<RepositoryConfiguration Version="2"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

     <!-- Specifies which types of object operations are performed in the target database when restoring the repository:
     Create - only creates new objects. Never deletes or modifies existing objects.
     CreateUpdate - creates new objects and updates existing objects. Never deletes objects.
       Full - creates new objects, updates existing objects, deletes objects that do not exist in the repository.
     -->
     <RestoreMode>Create</RestoreMode>

     <!-- After changing the included or excluded object types, you need to run the serialization for all objects to return
       the repository into a consistent state. Use the CLI and execute the store command for Continuous Integration or Deployment.
       Always synchronize the repository.config along with the other content of the repository folder. -->

     <!-- To learn which object types can be used in the IncludedObjectTypes and ExcludedObjectTypes definitions,
       visit the documentation: https://devnet.kentico.com/CMSPages/DocLinkMapper.ashx?version=xp&link=ci_object_types -->

     <!-- If one or more main object types are specified, only objects of the given type and their child types are processed.
       Must explicitly include *all* objects tracked by the repository, with the exception of content-item related objects,
       which are included using '<IncludedContentItemsOfType>'. -->
     <IncludedObjectTypes>
          <ObjectType>cms.class</ObjectType>
          <ObjectType>cms.consent</ObjectType>
          <ObjectType>cms.contenttype</ObjectType>
          <ObjectType>cms.contentlanguage</ObjectType>
          <ObjectType>cms.scheduledtaskconfiguration</ObjectType>
          <ObjectType>cms.settingscategory</ObjectType>
          <ObjectType>cms.settingskey</ObjectType>
          <ObjectType>cms.user</ObjectType>
          <ObjectType>cms.role</ObjectType>
          <ObjectType>cms.channel</ObjectType>
          <ObjectType>cms.websitechannel</ObjectType>
          <ObjectType>cms.websitecaptchasettings</ObjectType>
          <ObjectType>cms.pagetemplateconfiguration</ObjectType>
          <ObjectType>cms.contentfolder</ObjectType>
          <ObjectType>cms.smartfolder</ObjectType>
          <ObjectType>cms.standardmediadimensions</ObjectType>
          <ObjectType>cms.workspace</ObjectType>
          <ObjectType>cms.workspacedatapermission</ObjectType>
          <ObjectType>cms.allowedchildcontenttype</ObjectType>

          <ObjectType>cms.headlesschannel</ObjectType>

          <ObjectType>media.library</ObjectType>
          <ObjectType>media.file</ObjectType>

          <ObjectType>om.activitytype</ObjectType>
          <ObjectType>om.recipientlist</ObjectType>
          <ObjectType>om.contactgroup</ObjectType>
          <ObjectType>om.customerjourneyhistory</ObjectType>
          <ObjectType>om.customerjourney</ObjectType>
          <ObjectType>om.customerjourneystage</ObjectType>
          <ObjectType>cms.formclass</ObjectType>
          <ObjectType>cms.formfeaturedfield</ObjectType>

          <ObjectType>emaillibrary.emailchannel</ObjectType>
          <ObjectType>emaillibrary.emailchannelsender</ObjectType>
          <ObjectType>emaillibrary.emailtemplatecontenttype</ObjectType>
          <ObjectType>emaillibrary.recipientlistsettings</ObjectType>
          <ObjectType>emaillibrary.emailtemplate</ObjectType>
          <ObjectType>emaillibrary.emailpresettemplate</ObjectType>
          <ObjectType>emaillibrary.sendconfigurationcontactgroup</ObjectType>

          <ObjectType>ma.automationprocess</ObjectType>
          <ObjectType>ma.automationstep</ObjectType>
          <ObjectType>ma.automationaction</ObjectType>
          <ObjectType>cms.objectworkflowtrigger</ObjectType>
          <ObjectType>cms.workflowtransition</ObjectType>

          <ObjectType>om.trackedwebsite</ObjectType>
          <ObjectType>cms.form</ObjectType>

          <ObjectType>cms.contentworkflow</ObjectType>
          <ObjectType>cms.contentworkflowcontenttype</ObjectType>
          <ObjectType>cms.contentworkflowrole</ObjectType>
          <ObjectType>cms.contentworkflowstep</ObjectType>
          <ObjectType>cms.contentworkflowsteprole</ObjectType>
          <ObjectType>cms.taxonomy</ObjectType>
          <ObjectType>cms.tag</ObjectType>
          <ObjectType>cms.notificationemailtemplate</ObjectType>
          <ObjectType>cms.notificationemail</ObjectType>
          <ObjectType>cms.notificationemailform</ObjectType>
          <ObjectType>cms.notificationemailuser</ObjectType>

          <ObjectType>cms.webpagescope</ObjectType>
          <ObjectType>cms.webpagescopecontenttype</ObjectType>

          <ObjectType>commerce.orderstatus</ObjectType>
          <ObjectType>commerce.orderstatusnotification</ObjectType>
          <ObjectType>commerce.shippingmethod</ObjectType>
          <ObjectType>commerce.paymentmethod</ObjectType>
          <ObjectType>commerce.promotion</ObjectType>

          <ObjectType>kenticolucene.luceneindexitem</ObjectType>
          <ObjectType>kenticolucene.luceneindexassemblyversionitem</ObjectType>
          <ObjectType>kenticolucene.lucenecontenttypeitem</ObjectType>
          <ObjectType>kenticolucene.luceneincludedpathitem</ObjectType>
          <ObjectType>kenticolucene.luceneindexlanguageitem</ObjectType>
          <ObjectType>kenticolucene.lucenereusablecontenttypeitem</ObjectType>
     </IncludedObjectTypes>

     <!-- Excluded object types filter the set of included object types. The specified object types are excluded from processing.
       May include both main and child object types, with the exception of content-item related objects, which are excluded using '<ExcludedContentItemsOfType>' -->
     <ExcludedObjectTypes>
     </ExcludedObjectTypes>

     <!-- Lists the types of content items tracked by the repository.
       The element must explicitly list all content items tracked by the repository.

       After changing the included or excluded content items, you need to run the serialization
       for all objects to return the repository into a consistent state. -->
     <IncludedContentItemsOfType>
          <IncludeAll />
     </IncludedContentItemsOfType>

     <!-- You can exclude objects from processing by adding included or excluded code names for any object type.
       Use the % wildcard at the start or end of the values to include or exclude multiple objects based on code name prefixes or suffixes.
       You can add multiple code name values separated by semicolons for each object type. -->
     <ObjectFilters>
          <!-- Ensures serialization for reusable field schemas. -->
          <IncludedCodeNames ObjectType="cms.class">cms.contentitemcommondata</IncludedCodeNames>
          <!-- If one or more code names are included, only objects matching the specified code names are included. Other objects are not processed.
         All objects are included if empty. -->
          <!-- <IncludedCodeNames>IncludedCodeNameA;IncludedCodeNameB</IncludedCodeNames> -->
          <!-- <IncludedCodeNames ObjectType="ObjectTypeB">IncludedCodeNamePrefix%;%IncludedCodeNameSuffix</IncludedCodeNames> -->

          <!-- Excludes license key settings -->
          <ExcludedCodeNames ObjectType="cms.settingskey">CMSInstanceFriendlyName;CMSInstanceID</ExcludedCodeNames>

          <!-- Excluded code names add further filtering for the set of included objects. Objects that match the specified code names are excluded from processing. -->
     </ObjectFilters>

     <ContentItemFilters>
          <!-- Include only items whose code names match the pattern 'News_%' -->
          <!-- <IncludedContentItemNames>News_%</IncludedContentItemNames> -->

          <!-- You could also use <ExcludedContentItemNames> here to exclude specific names. For example: -->
          <!-- <ExcludedContentItemNames>News_Internal%</ExcludedContentItemNames> -->
     </ContentItemFilters>

</RepositoryConfiguration>